<div class="parent-dev bg">


   <header class="inner-menu-header">
    <div class="top-row d-flex bd-highlight">
      <div class="p-2 flex-fill bd-highlight">
    </div>
      <div class="p-2 flex-fill bd-highlight">
        <a href="#">
          <img src="assets/images/logo.png" />
        </a>
      </div>
      <div class="p-2 flex-fill bd-highlight">
      </div>
    </div>
  <div class="inner-header-title">
    <div class="dashboard">
      <div class="container  d-xxl-flex align-items-center justify-content-between">
        <div class="title d-flex align-items-center mb-xxl-0 me-30">
          <div class="icon me-20 me-md-30">
            <img src="assets/images/health-wellness.png" alt="image description" />
          </div>
          <div class="text-box">
            <h2>Health & Wellness</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
  <div class="wrapper">
      <div class="btn-sidebar-holder">
          <button type="button" class="btn-sidebar innerBtn"></button>
        </div>
      <div class="inner-item">
          <div class="row">
            <div class="col-sm-4">
              <div class="imgDiv">
              <img src="assets/images/icon-w-heart.png">
          </div>
              <label class="imgLabel">Heart Health</label>
            </div>
            <div class="col-sm-4">
              <div class="imgDiv">
              <img src="assets/images/icon-w-diabetes.png">
          </div>
              <label class="imgLabel">Diabetes</label>
            </div>
            <div class="col-sm-4">
              <div class="imgDiv">
              <img src="assets/images/icon-w-blood.png">
          </div>
              <label class="imgLabel">Blood Pressure</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="imgDiv">
              <img src="assets/images/icon-w-respiratory.png">
          </div>
              <label class="imgLabel">Respiratory/Pulmonary</label>
            </div>
            <div class="col-sm-4">
              <div class="imgDiv">
              <img src="assets/images/icon-w-opioid.png">
               </div>
              <label class="imgLabel">Opioid Usage</label>
            </div>
            <div class="col-sm-4">
              <div class="imgDiv">
              <img src="assets/images/icon-w-behavior.png">
          </div>
              <label class="imgLabel">Behavioral Health</label>
            </div>
          </div>
        </div>
  </div>
  <footer class="inner-footer text-center">
      <p>Happy. Healthy. Safe.</p>

      <div class="Progressbar">
          <div class="Progressbar__value"></div>
        </div>


    <strong class="d-block">$1187.50</strong>
    <a href="#" class="text-decoration-none">msilvasy@aol.com</a>
  </footer>
</div>
